
<hr><br>

<!-- TEST: Disabled Previous -->
<nav class="pagination">
    <a class="btn btn-disabled pagination_prev" href="#"><span class="btn-icon-left cf-icon cf-icon-left"></span> Previous</a>
    <form class="pagination_form">
        <label class="pagination_label" for="pagination_current-page">Page</label>
        <input class="pagination_current-page" id="pagination_current-page" name="pagination_current-page" type="number" min="1" max="149" value="149" />
        <label class="pagination_label" for="pagination_current-page">of 149</label>
        <button class="btn btn-link pagination_submit" id="pagination_submit" type="submit">Go</button>
    </form>
    <a class="btn pagination_next" href="#">Next <span class="btn-icon-right cf-icon cf-icon-right"></span></a>
</nav><br>

<!-- TEST: Disabled Next -->
<nav class="pagination">
    <a class="btn pagination_prev" href="#"><span class="btn-icon-left cf-icon cf-icon-left"></span> Previous</a>
    <form class="pagination_form">
        <label class="pagination_label" for="pagination_current-page">Page</label>
        <input class="pagination_current-page" id="pagination_current-page" name="pagination_current-page" type="number" min="1" max="149" value="149" />
        <label class="pagination_label" for="pagination_current-page">of 149</label>
        <button class="btn btn-link pagination_submit" id="pagination_submit" type="submit">Go</button>
    </form>
    <a class="btn btn-disabled pagination_next" href="#">Next <span class="btn-icon-right cf-icon cf-icon-right"></span></a>
</nav><br>

<!-- TEST: Disabled Submit -->
<nav class="pagination">
    <a class="btn pagination_prev" href="#"><span class="btn-icon-left cf-icon cf-icon-left"></span> Previous</a>
    <form class="pagination_form">
        <label class="pagination_label" for="pagination_current-page">Page</label>
        <input class="pagination_current-page" id="pagination_current-page" name="pagination_current-page" type="number" min="1" max="149" value="149" />
        <label class="pagination_label" for="pagination_current-page">of 149</label>
        <button class="btn btn-disabled btn-link pagination_submit" id="pagination_submit" type="submit">Go</button>
    </form>
    <a class="btn pagination_next" href="#">Next <span class="btn-icon-right cf-icon cf-icon-right"></span></a>
</nav>
