<div class="cols-12">
  <h2>12 columns w/ 1200px max width</h2>
  <section>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
  </section>
  <section>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
  </section>
  <section>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
  </section>
  <section>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
  </section>
  <section>
    <div class="col col-4">
      <div>four</div>
    </div>
    <div class="col col-4">
      <div>four</div>
    </div>
    <div class="col col-4">
      <div>four</div>
    </div>
  </section>
  <section>
    <div class="col col-6">
      <div>six</div>
    </div>
    <div class="col col-6">
      <div>six</div>
    </div>
  </section>
  <section>
    <div class="col col-12">
      <div>twelve</div>
    </div>
  </section>
  <h3>Prefixing/Suffixing</h3>
  <section>
    <div class="col col-1 suffix-11">
      <div>prefix 0, suffix 11</div>
    </div>
    <div class="col col-1 prefix-1 suffix-10">
      <div>prefix 1, suffix 10</div>
    </div>
    <div class="col col-1 prefix-2 suffix-9">
      <div>prefix 2, suffix 9</div>
    </div>
    <div class="col col-1 prefix-3 suffix-8">
      <div>prefix 3, suffix 8</div>
    </div>
    <div class="col col-1 prefix-4 suffix-7">
      <div>prefix 4, suffix 7</div>
    </div>
    <div class="col col-1 prefix-5 suffix-6">
      <div>prefix 5, suffix 6</div>
    </div>
    <div class="col col-1 prefix-6 suffix-5">
      <div>prefix 6, suffix 5</div>
    </div>
    <div class="col col-1 prefix-7 suffix-4">
      <div>prefix 7, suffix 4</div>
    </div>
    <div class="col col-1 prefix-8 suffix-3">
      <div>prefix 8, suffix 3</div>
    </div>
    <div class="col col-1 prefix-9 suffix-2">
      <div>prefix 9, suffix 2</div>
    </div>
    <div class="col col-1 prefix-10 suffix-1">
      <div>prefix 10, suffix 1</div>
    </div>
    <div class="col col-1 prefix-11">
      <div>prefix 11, suffix 0</div>
    </div>
  </section>
  <h3>Push/Pull</h3>
  <section>
    <div class="col col-4 push-8">
      <div>four, push eight</div>
    </div>
    <div class="col col-8 pull-4">
      <div>eight, pull four</div>
    </div>
  </section>
  <section>
    <div class="col col-9 push-3">
      <div>nine, push three</div>
    </div>
    <div class="col col-3 pull-9">
      <div>three, pull nine</div>
    </div>
  </section>
  <h3>Nesting</h3>
  <section class="nesting">
    <div class="col col-6">
      <div>
        six
        <section>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
        </section>
      </div>
    </div>
    <div class="col col-6">
      <div>
        six
        <section>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section>
    <div class="col col-3">
      <div>
        three
        <section>
          <div class="col col-6">
            <div>six</div>
          </div>
          <div class="col col-6">
            <div>six</div>
          </div>
        </section>
      </div>
    </div>
    <div class="col col-6">
      <div>
        three
        <section>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
        </section>
      </div>
    </div>
    <div class="col col-3">
      <div>
        three
        <section>
          <div class="col col-3">
            <div>three</div>
          </div>
          <div class="col col-3">
            <div>three</div>
          </div>
          <div class="col col-3">
            <div>three</div>
          </div>
          <div class="col col-3">
            <div>three</div>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>
<!-- -------------------------------------------------- -->
<div class="cols-12 w-960">
  <h2>12 columns w/ 960px max width</h2>
  <section>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
    <div class="col col-1">
      <div>one</div>
    </div>
  </section>
  <section>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
  </section>
  <section>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-2">
      <div>two</div>
    </div>
  </section>
  <section>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
    <div class="col col-3">
      <div>three</div>
    </div>
  </section>
  <section>
    <div class="col col-4">
      <div>four</div>
    </div>
    <div class="col col-4">
      <div>four</div>
    </div>
    <div class="col col-4">
      <div>four</div>
    </div>
  </section>
  <section>
    <div class="col col-6">
      <div>six</div>
    </div>
    <div class="col col-6">
      <div>six</div>
    </div>
  </section>
  <h3>Prefixing/Suffixing</h3>
  <section>
    <div class="col col-1 suffix-11">
      <div>prefix 0, suffix 11</div>
    </div>
    <div class="col col-1 prefix-1 suffix-10">
      <div>prefix 1, suffix 10</div>
    </div>
    <div class="col col-1 prefix-2 suffix-9">
      <div>prefix 2, suffix 9</div>
    </div>
    <div class="col col-1 prefix-3 suffix-8">
      <div>prefix 3, suffix 8</div>
    </div>
    <div class="col col-1 prefix-4 suffix-7">
      <div>prefix 4, suffix 7</div>
    </div>
    <div class="col col-1 prefix-5 suffix-6">
      <div>prefix 5, suffix 6</div>
    </div>
    <div class="col col-1 prefix-6 suffix-5">
      <div>prefix 6, suffix 5</div>
    </div>
    <div class="col col-1 prefix-7 suffix-4">
      <div>prefix 7, suffix 4</div>
    </div>
    <div class="col col-1 prefix-8 suffix-3">
      <div>prefix 8, suffix 3</div>
    </div>
    <div class="col col-1 prefix-9 suffix-2">
      <div>prefix 9, suffix 2</div>
    </div>
    <div class="col col-1 prefix-10 suffix-1">
      <div>prefix 10, suffix 1</div>
    </div>
    <div class="col col-1 prefix-11">
      <div>prefix 11, suffix 0</div>
    </div>
  </section>
  <h3>Push/Pull</h3>
  <section>
    <div class="col col-4 push-8">
      <div>four, push eight</div>
    </div>
    <div class="col col-8 pull-4">
      <div>eight, pull four</div>
    </div>
  </section>
  <section>
    <div class="col col-9 push-3">
      <div>nine, push three</div>
    </div>
    <div class="col col-3 pull-9">
      <div>three, pull nine</div>
    </div>
  </section>
  <h3>Nesting</h3>
  <section class="nesting">
    <div class="col col-6">
      <div>
        six
        <section>
          <div class="col col-6">
            <div>six</div>
          </div>
          <div class="col col-6">
            <div>six</div>
          </div>
        </section>
      </div>
    </div>
    <div class="col col-6">
      <div>
        six
        <section>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section>
    <div class="col col-4">
      <div>
        four
        <section>
          <div class="col col-6">
            <div>six</div>
          </div>
          <div class="col col-6">
            <div>six</div>
          </div>
        </section>
      </div>
    </div>
    <div class="col col-8">
      <div>
        eight
        <section>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
          <div class="col col-4">
            <div>four</div>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>