hi
<div class="minicon-assets-div">
  <h6>left</h6>
<i class="cf-icon cf-icon-left"></i>
<i class="cf-icon cf-icon-left-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>right</h6>
<i class="cf-icon cf-icon-right"></i>
<i class="cf-icon cf-icon-right-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>up</h6>
<i class="cf-icon cf-icon-up"></i>
<i class="cf-icon cf-icon-up-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>down</h6>
<i class="cf-icon cf-icon-down"></i>
<i class="cf-icon cf-icon-down-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>arrow-left</h6>
<i class="cf-icon cf-icon-arrow-left"></i>
<i class="cf-icon cf-icon-arrow-left-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>arrow-right</h6>
<i class="cf-icon cf-icon-arrow-right"></i>
<i class="cf-icon cf-icon-arrow-right-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>arrow-up</h6>
<i class="cf-icon cf-icon-arrow-up"></i>
<i class="cf-icon cf-icon-arrow-up-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>arrow-down</h6>
<i class="cf-icon cf-icon-arrow-down"></i>
<i class="cf-icon cf-icon-arrow-down-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>approved</h6>
<i class="cf-icon cf-icon-approved"></i>
<i class="cf-icon cf-icon-approved-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>error</h6>
<i class="cf-icon cf-icon-error"></i>
<i class="cf-icon cf-icon-error-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>help</h6>
<i class="cf-icon cf-icon-help"></i>
<i class="cf-icon cf-icon-help-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>delete</h6>
<i class="cf-icon cf-icon-delete"></i>
<i class="cf-icon cf-icon-delete-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>plus</h6>
<i class="cf-icon cf-icon-plus"></i>
<i class="cf-icon cf-icon-plus-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>minus</h6>
<i class="cf-icon cf-icon-minus"></i>
<i class="cf-icon cf-icon-minus-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>update</h6>
<i class="cf-icon cf-icon-update"></i>
<i class="cf-icon cf-icon-update-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>youtube</h6>
<i class="cf-icon cf-icon-youtube"></i>
<i class="cf-icon cf-icon-youtube-square"></i>

</div>
<div class="minicon-assets-div">
  <h6>linkedin</h6>
<i class="cf-icon cf-icon-linkedin"></i>
<i class="cf-icon cf-icon-linkedin-square"></i>

</div>
<div class="minicon-assets-div">
  <h6>facebook</h6>
<i class="cf-icon cf-icon-facebook"></i>
<i class="cf-icon cf-icon-facebook-square"></i>

</div>
<div class="minicon-assets-div">
  <h6>flickr</h6>
<i class="cf-icon cf-icon-flickr"></i>
<i class="cf-icon cf-icon-flickr-square"></i>

</div>
<div class="minicon-assets-div">
  <h6>plus</h6>
<i class="cf-icon cf-icon-twitter"></i>
<i class="cf-icon cf-icon-twitter-square"></i>

</div>
<div class="minicon-assets-div">
  <h6>github</h6>
<i class="cf-icon cf-icon-github"></i>
<i class="cf-icon cf-icon-github-square"></i>

</div>
<div class="minicon-assets-div">
  <h6>email-social</h6>
<i class="cf-icon cf-icon-email-social"></i>
<i class="cf-icon cf-icon-email-social-square"></i>

</div>
<div class="minicon-assets-div">
  <h6>web</h6>
<i class="cf-icon cf-icon-web"></i>
<i class="cf-icon cf-icon-web-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>email</h6>
<i class="cf-icon cf-icon-email"></i>
<i class="cf-icon cf-icon-email-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>mail</h6>
<i class="cf-icon cf-icon-mail"></i>
<i class="cf-icon cf-icon-mail-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>phone</h6>
<i class="cf-icon cf-icon-phone"></i>
<i class="cf-icon cf-icon-phone-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>technology</h6>
<i class="cf-icon cf-icon-technology"></i>
<i class="cf-icon cf-icon-technology-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>fax</h6>
<i class="cf-icon cf-icon-fax"></i>
<i class="cf-icon cf-icon-fax-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>document</h6>
<i class="cf-icon cf-icon-document"></i>
<i class="cf-icon cf-icon-document-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>pdf</h6>
<i class="cf-icon cf-icon-pdf"></i>
<i class="cf-icon cf-icon-pdf-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>upload</h6>
<i class="cf-icon cf-icon-upload"></i>
<i class="cf-icon cf-icon-upload-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>copy</h6>
<i class="cf-icon cf-icon-copy"></i>
<i class="cf-icon cf-icon-copy-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>edit</h6>
<i class="cf-icon cf-icon-edit"></i>
<i class="cf-icon cf-icon-edit-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>attach</h6>
<i class="cf-icon cf-icon-attach"></i>
<i class="cf-icon cf-icon-attach-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>print</h6>
<i class="cf-icon cf-icon-print"></i>
<i class="cf-icon cf-icon-print-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>save</h6>
<i class="cf-icon cf-icon-save"></i>
<i class="cf-icon cf-icon-save-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>appendix</h6>
<i class="cf-icon cf-icon-appendix"></i>
<i class="cf-icon cf-icon-appendix-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>supplement</h6>
<i class="cf-icon cf-icon-supplement"></i>
<i class="cf-icon cf-icon-supplement-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>bank-account</h6>
<i class="cf-icon cf-icon-bank-account"></i>
<i class="cf-icon cf-icon-bank-account-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>credit-card</h6>
<i class="cf-icon cf-icon-credit-card"></i>
<i class="cf-icon cf-icon-credit-card-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>loan</h6>
<i class="cf-icon cf-icon-loan"></i>
<i class="cf-icon cf-icon-loan-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>money-transfer</h6>
<i class="cf-icon cf-icon-money-transfer"></i>
<i class="cf-icon cf-icon-money-transfer-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>mortgage</h6>
<i class="cf-icon cf-icon-mortgage"></i>
<i class="cf-icon cf-icon-mortgage-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>debt-collection</h6>
<i class="cf-icon cf-icon-debt-collection"></i>
<i class="cf-icon cf-icon-debt-collection-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>credit-report</h6>
<i class="cf-icon cf-icon-credit-report"></i>
<i class="cf-icon cf-icon-credit-report-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>money</h6>
<i class="cf-icon cf-icon-money"></i>
<i class="cf-icon cf-icon-money-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>quick-cash</h6>
<i class="cf-icon cf-icon-quick-cash"></i>
<i class="cf-icon cf-icon-quick-cash-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>contract</h6>
<i class="cf-icon cf-icon-contract"></i>
<i class="cf-icon cf-icon-contract-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>comlaint</h6>
<i class="cf-icon cf-icon-complaint"></i>
<i class="cf-icon cf-icon-complaint-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>getting-credit-card</h6>
<i class="cf-icon cf-icon-getting-credit-card"></i>
<i class="cf-icon cf-icon-getting-credit-card-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>buying-car</h6>
<i class="cf-icon cf-icon-buying-car"></i>
<i class="cf-icon cf-icon-buying-car-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>mortgage</h6>
<i class="cf-icon cf-icon-paying-college"></i>
<i class="cf-icon cf-icon-paying-college-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>owning-home</h6>
<i class="cf-icon cf-icon-owning-home"></i>
<i class="cf-icon cf-icon-owning-home-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>debt</h6>
<i class="cf-icon cf-icon-debt"></i>
<i class="cf-icon cf-icon-debt-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>building-credit</h6>
<i class="cf-icon cf-icon-building-credit"></i>
<i class="cf-icon cf-icon-building-credit-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>prepaid-cards</h6>
<i class="cf-icon cf-icon-prepaid-cards"></i>
<i class="cf-icon cf-icon-prepaid-cards-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>payday-loan</h6>
<i class="cf-icon cf-icon-payday-loan"></i>
<i class="cf-icon cf-icon-payday-loan-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>retirement</h6>
<i class="cf-icon cf-icon-retirement"></i>
<i class="cf-icon cf-icon-retirement-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>user</h6>
<i class="cf-icon cf-icon-user"></i>
<i class="cf-icon cf-icon-user-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>wifi</h6>
<i class="cf-icon cf-icon-wifi"></i>
<i class="cf-icon cf-icon-wifi-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>search</h6>
<i class="cf-icon cf-icon-search"></i>
<i class="cf-icon cf-icon-search-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>share</h6>
<i class="cf-icon cf-icon-share"></i>
<i class="cf-icon cf-icon-share-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>link</h6>
<i class="cf-icon cf-icon-link"></i>
<i class="cf-icon cf-icon-link-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>external-link</h6>
<i class="cf-icon cf-icon-external-link"></i>
<i class="cf-icon cf-icon-external-link-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>audio-mute</h6>
<i class="cf-icon cf-icon-audio-mute"></i>
<i class="cf-icon cf-icon-audio-mute-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>audio-low</h6>
<i class="cf-icon cf-icon-audio-low"></i>
<i class="cf-icon cf-icon-audio-low-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>audio-medium</h6>
<i class="cf-icon cf-icon-audio-medium"></i>
<i class="cf-icon cf-icon-audio-medium-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>audio-max</h6>
<i class="cf-icon cf-icon-audio-max"></i>
<i class="cf-icon cf-icon-audio-max-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>favorite</h6>
<i class="cf-icon cf-icon-favorite"></i>
<i class="cf-icon cf-icon-favorite-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>unfavorite</h6>
<i class="cf-icon cf-icon-unfavorite"></i>
<i class="cf-icon cf-icon-unfavorite-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>bookmark</h6>
<i class="cf-icon cf-icon-bookmark"></i>
<i class="cf-icon cf-icon-bookmark-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>unbookmark</h6>
<i class="cf-icon cf-icon-unbookmark"></i>
<i class="cf-icon cf-icon-unbookmark-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>settings</h6>
<i class="cf-icon cf-icon-settings"></i>
<i class="cf-icon cf-icon-settings-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>menu</h6>
<i class="cf-icon cf-icon-menu"></i>
<i class="cf-icon cf-icon-menu-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>lock</h6>
<i class="cf-icon cf-icon-lock"></i>
<i class="cf-icon cf-icon-lock-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>unlock</h6>
<i class="cf-icon cf-icon-unlock"></i>
<i class="cf-icon cf-icon-unlock-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>clock</h6>
<i class="cf-icon cf-icon-clock"></i>
<i class="cf-icon cf-icon-clock-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>chart</h6>
<i class="cf-icon cf-icon-chart"></i>
<i class="cf-icon cf-icon-chart-round"></i>

</div>
<div class="minicon-assets-div">
  <h6>play</h6>
<i class="cf-icon cf-icon-play"></i>
<i class="cf-icon cf-icon-play-round"></i>

</div>