

<h1 class="icon-set-heading">Navigation Icons
</h1>

<div class="icon">
  <p class="icon-name">left
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-left"></i>
<i class="cf-icon cf-icon-left-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">right
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-right"></i>
<i class="cf-icon cf-icon-right-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">up
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-up"></i>
<i class="cf-icon cf-icon-up-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">down
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-down"></i>
<i class="cf-icon cf-icon-down-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">arrow-left
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-arrow-left"></i>
<i class="cf-icon cf-icon-arrow-left-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">arrow-right
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-arrow-right"></i>
<i class="cf-icon cf-icon-arrow-right-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">arrow-up
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-arrow-up"></i>
<i class="cf-icon cf-icon-arrow-up-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">arrow-down
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-arrow-down"></i>
<i class="cf-icon cf-icon-arrow-down-round"></i>
  </div>
</div>


<h1 class="icon-set-heading">Status Icons
</h1>

<div class="icon">
  <p class="icon-name">approved
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-approved"></i>
<i class="cf-icon cf-icon-approved-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">error
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-error"></i>
<i class="cf-icon cf-icon-error-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">help
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-help"></i>
<i class="cf-icon cf-icon-help-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">delete
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-delete"></i>
<i class="cf-icon cf-icon-delete-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">plus
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-plus"></i>
<i class="cf-icon cf-icon-plus-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">minus
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-minus"></i>
<i class="cf-icon cf-icon-minus-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">update
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-update"></i>
<i class="cf-icon cf-icon-update-round"></i>
  </div>
</div>


<h1 class="icon-set-heading">Social Icons
</h1>

<div class="icon">
  <p class="icon-name">youtube
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-youtube"></i>
<i class="cf-icon cf-icon-youtube-square"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">linkedin
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-linkedin"></i>
<i class="cf-icon cf-icon-linkedin-square"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">facebook
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-facebook"></i>
<i class="cf-icon cf-icon-facebook-square"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">flickr
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-flickr"></i>
<i class="cf-icon cf-icon-flickr-square"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">plus
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-twitter"></i>
<i class="cf-icon cf-icon-twitter-square"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">github
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-github"></i>
<i class="cf-icon cf-icon-github-square"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">email-social
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-email-social"></i>
<i class="cf-icon cf-icon-email-social-square"></i>
  </div>
</div>


<h1 class="icon-set-heading">Communication Icons
</h1>

<div class="icon">
  <p class="icon-name">web
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-web"></i>
<i class="cf-icon cf-icon-web-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">email
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-email"></i>
<i class="cf-icon cf-icon-email-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">mail
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-mail"></i>
<i class="cf-icon cf-icon-mail-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">phone
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-phone"></i>
<i class="cf-icon cf-icon-phone-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">technology
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-technology"></i>
<i class="cf-icon cf-icon-technology-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">fax
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-fax"></i>
<i class="cf-icon cf-icon-fax-round"></i>
  </div>
</div>


<h1 class="icon-set-heading">Document Icons
</h1>

<div class="icon">
  <p class="icon-name">document
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-document"></i>
<i class="cf-icon cf-icon-document-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">pdf
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-pdf"></i>
<i class="cf-icon cf-icon-pdf-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">upload
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-upload"></i>
<i class="cf-icon cf-icon-upload-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">copy
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-copy"></i>
<i class="cf-icon cf-icon-copy-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">edit
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-edit"></i>
<i class="cf-icon cf-icon-edit-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">attach
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-attach"></i>
<i class="cf-icon cf-icon-attach-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">print
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-print"></i>
<i class="cf-icon cf-icon-print-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">save
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-save"></i>
<i class="cf-icon cf-icon-save-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">appendix
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-appendix"></i>
<i class="cf-icon cf-icon-appendix-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">supplement
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-supplement"></i>
<i class="cf-icon cf-icon-supplement-round"></i>
  </div>
</div>


<h1 class="icon-set-heading">Financial Product Icons
</h1>

<div class="icon">
  <p class="icon-name">bank-account
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-bank-account"></i>
<i class="cf-icon cf-icon-bank-account-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">credit-card
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-credit-card"></i>
<i class="cf-icon cf-icon-credit-card-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">loan
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-loan"></i>
<i class="cf-icon cf-icon-loan-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">money-transfer
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-money-transfer"></i>
<i class="cf-icon cf-icon-money-transfer-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">mortgage
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-mortgage"></i>
<i class="cf-icon cf-icon-mortgage-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">debt-collection
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-debt-collection"></i>
<i class="cf-icon cf-icon-debt-collection-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">credit-report
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-credit-report"></i>
<i class="cf-icon cf-icon-credit-report-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">money
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-money"></i>
<i class="cf-icon cf-icon-money-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">quick-cash
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-quick-cash"></i>
<i class="cf-icon cf-icon-quick-cash-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">contract
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-contract"></i>
<i class="cf-icon cf-icon-contract-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">comlaint
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-complaint"></i>
<i class="cf-icon cf-icon-complaint-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">getting-credit-card
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-getting-credit-card"></i>
<i class="cf-icon cf-icon-getting-credit-card-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">buying-car
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-buying-car"></i>
<i class="cf-icon cf-icon-buying-car-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">mortgage
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-paying-college"></i>
<i class="cf-icon cf-icon-paying-college-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">owning-home
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-owning-home"></i>
<i class="cf-icon cf-icon-owning-home-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">debt
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-debt"></i>
<i class="cf-icon cf-icon-debt-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">building-credit
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-building-credit"></i>
<i class="cf-icon cf-icon-building-credit-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">prepaid-cards
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-prepaid-cards"></i>
<i class="cf-icon cf-icon-prepaid-cards-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">payday-loan
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-payday-loan"></i>
<i class="cf-icon cf-icon-payday-loan-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">retirement
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-retirement"></i>
<i class="cf-icon cf-icon-retirement-round"></i>
  </div>
</div>


<h1 class="icon-set-heading">Web Icons
</h1>

<div class="icon">
  <p class="icon-name">user
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-user"></i>
<i class="cf-icon cf-icon-user-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">wifi
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-wifi"></i>
<i class="cf-icon cf-icon-wifi-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">search
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-search"></i>
<i class="cf-icon cf-icon-search-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">share
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-share"></i>
<i class="cf-icon cf-icon-share-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">link
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-link"></i>
<i class="cf-icon cf-icon-link-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">external-link
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-external-link"></i>
<i class="cf-icon cf-icon-external-link-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">audio-mute
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-audio-mute"></i>
<i class="cf-icon cf-icon-audio-mute-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">audio-low
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-audio-low"></i>
<i class="cf-icon cf-icon-audio-low-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">audio-medium
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-audio-medium"></i>
<i class="cf-icon cf-icon-audio-medium-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">audio-max
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-audio-max"></i>
<i class="cf-icon cf-icon-audio-max-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">favorite
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-favorite"></i>
<i class="cf-icon cf-icon-favorite-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">unfavorite
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-unfavorite"></i>
<i class="cf-icon cf-icon-unfavorite-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">bookmark
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-bookmark"></i>
<i class="cf-icon cf-icon-bookmark-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">unbookmark
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-unbookmark"></i>
<i class="cf-icon cf-icon-unbookmark-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">settings
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-settings"></i>
<i class="cf-icon cf-icon-settings-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">menu
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-menu"></i>
<i class="cf-icon cf-icon-menu-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">lock
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-lock"></i>
<i class="cf-icon cf-icon-lock-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">unlock
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-unlock"></i>
<i class="cf-icon cf-icon-unlock-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">clock
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-clock"></i>
<i class="cf-icon cf-icon-clock-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">chart
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-chart"></i>
<i class="cf-icon cf-icon-chart-round"></i>
  </div>
</div>

<div class="icon">
  <p class="icon-name">play
  </p>
  <div class="icon-markup">
<i class="cf-icon cf-icon-play"></i>
<i class="cf-icon cf-icon-play-round"></i>
  </div>
</div>
