/* ==========================================================================
   CFPB Design Manual
   Header
   ========================================================================== */

/* Site title */
.site-title {
	text-align: center;
	
	h1 {
    	font-size: 1.625em; /* 26px */
	}

	/* Site title / class on <a> */
	.title-link {
		color: @gray-80;
			.site-org {
				color: @gray;
                .webfont-medium;
			}
	}

	.title-link:visited {
    	color: @gray-80;
    }
}

/* Site logo */
.logo {
	display: none;
}