/* ==========================================================================
   CFPB Design Manual
   Media
   ========================================================================== */

/* Fluid images */
img,
object,
embed,
video {
    max-width: 100%;
}
img {
    border: 0;
    /* Improve IE's resizing of images */
    -ms-interpolation-mode: bicubic;
}