/* ==========================================================================
   CFPB Design Manual
   Structure and Media Queries
   ========================================================================== */

/* Mobile first styles */
.wrap {
	padding: 0 1.25em; /* 20px */
}

/* Main nav */
.main-nav {
    margin: 0;
    padding: 0;
    border-top: 2px solid @gray-10;
}

.main-nav li {
    list-style: none;
    border-bottom: 2px solid @gray-10;
}