<hr>
<br>
<!-- Vertical margin test -->
<p>Paragraph margin example</p>
<ul>
    <li>Unordered list margin example</li>
</ul>
<ol>
    <li>Ordered list margin example</li>
</ol>
<dl>
    <dt>Definition list margin example</dt>
    <dd>Definition list margin example</dd>
</dl>
<table>
    <tr>
        <td>Table margin example</td>
    </tr>
</table>
<blockquote>Blockquote margin example</blockquote>
<figure>
    <figcaption>Figcaption example</figcaption>
    <p>Figure example</p>
</figure>

<!-- Underlined links test-->
<p>
    <a href="#">A child of a paragraph</a>
</p>
<ul>
    <li>
        <a href="#">A child of a list item</a>
    </li>
</ul>
<dl>
    <dt>
        Definition list term
    </dt>
    <dd>
        <a href="#">A child of a definition list description</a>
    </dd>
</dl>
<nav>
    <p>
        <a href="#">A direct descendent of a paragraph</a>
    </p>
    <ul>
        <li>
            <a href="#">A direct descendent of a list item</a>
        </li>
    </ul>
    <dl>
        <dt>
            Definition list term
        </dt>
        <dd>
            <a href="#">A direct descendent of a definition list description</a>
        </dd>
        <dd>
            Or a direct descendent of 
            <strong><a href="#">strong</a></strong>, 
            <em><a href="#">em</a></em>, 
            <b><a href="#">b</a></b>, 
            <i><a href="#">i</a></i>
            that is a direct descendent of a definition list description.
        </dd>
    </dl>
</nav>
