<hr>
<br>

<!-- Bold and italics webfont tests-->
<p class="h1">No tag, <b>b tag</b>, <strong>strong tag</strong>, <i>i tag</i>, <em>em tag</em></p>
<p class="h2">No tag, <b>b tag</b>, <strong>strong tag</strong>, <i>i tag</i>, <em>em tag</em></p>
<p class="h3">No tag, <b>b tag</b>, <strong>strong tag</strong>, <i>i tag</i>, <em>em tag</em></p>

<!-- Vertical margin test -->
<h1 class="superheader">heading level 1</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum provident expedita unde vel praesentium nesciunt magnam? Sint tempora quam ratione suscipit ut atque error expedita! Distinctio omnis ipsum accusamus maxime!</p>

<h1>heading level 1</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum provident expedita unde vel praesentium nesciunt magnam? Sint tempora quam ratione suscipit ut atque error expedita! Distinctio omnis ipsum accusamus maxime!</p>

<h2>heading level 2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum provident expedita unde vel praesentium nesciunt magnam? Sint tempora quam ratione suscipit ut atque error expedita! Distinctio omnis ipsum accusamus maxime!</p>

<h3>heading level 3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum provident expedita unde vel praesentium nesciunt magnam? Sint tempora quam ratione suscipit ut atque error expedita! Distinctio omnis ipsum accusamus maxime!</p>

<h4>heading level 4</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum provident expedita unde vel praesentium nesciunt magnam? Sint tempora quam ratione suscipit ut atque error expedita! Distinctio omnis ipsum accusamus maxime!</p>

<h5>heading level 5</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum provident expedita unde vel praesentium nesciunt magnam? Sint tempora quam ratione suscipit ut atque error expedita! Distinctio omnis ipsum accusamus maxime!</p>

<h6>heading level 6</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum provident expedita unde vel praesentium nesciunt magnam? Sint tempora quam ratione suscipit ut atque error expedita! Distinctio omnis ipsum accusamus maxime!</p>

<p>Paragraph margin example</p>
<ul>
    <li>Unordered list margin example</li>
</ul>
<ol>
    <li>Ordered list margin example</li>
</ol>
<dl>
    <dt>Definition list margin example</dt>
    <dd>Definition list margin example</dd>
</dl>
<table>
    <tr>
        <td>Table margin example</td>
    </tr>
</table>
<blockquote>Blockquote margin example</blockquote>
<figure>
    <figcaption>Figcaption example</figcaption>
    <p>Figure example</p>
</figure>

<!-- Underlined links test-->
<p>
    <a href="#">A child of a paragraph</a>
</p>
<ul>
    <li>
        <a href="#">A child of a list item</a>
    </li>
</ul>
<dl>
    <dt>
        Definition list term
    </dt>
    <dd>
        <a href="#">A child of a definition list description</a>
    </dd>
</dl>
<nav>
    <p>
        <a href="#">A direct descendent of a paragraph</a>
    </p>
    <ul>
        <li>
            <a href="#">A direct descendent of a list item</a>
        </li>
    </ul>
    <dl>
        <dt>
            Definition list term
        </dt>
        <dd>
            <a href="#">A direct descendent of a definition list description</a>
        </dd>
        <dd>
            Or a direct descendent of 
            <strong><a href="#">strong</a></strong>, 
            <em><a href="#">em</a></em>, 
            <b><a href="#">b</a></b>, 
            <i><a href="#">i</a></i>
            that is a direct descendent of a definition list description.
        </dd>
    </dl>
</nav>
