  <div>
    <h3>type=&quot;color&quot;</h3>
    <input type="color" name="color">
  </div>

  <div>
    <h3>type=&quot;date&quot;</h3>
    <input type="date" name="date">
  </div>

  <div>
    <h3>type=&quot;datetime&quot;</h3>
    <input type="datetime" name="datetime">
  </div>

  <div>
    <h3>type=&quot;datetime-local&quot;</h3>
    <input type="datetime-local" name="datetime-local">
  </div>

  <div>
    <h3>type=&quot;email&quot;</h3>
    <input type="email" name="email">
  </div>

  <div>
    <h3>type=&quot;month&quot;</h3>
    <input type="month" name="month">
  </div>

  <div>
    <h3>type=&quot;number&quot;</h3>
    <input type="number" name="number">
  </div>

  <div>
    <h3>type=&quot;range&quot;</h3>
    <input type="range" id="range" name="range">
    <output for="range" id="output"></output>
  </div>

  <div>
    <h3>type=&quot;search&quot;</h3>
    <input type="search" name="search" results="5" autosave="saved-searches">
  </div>

  <div>
    <h3>type=&quot;tel&quot;</h3>
    <input type="tel" name="tel">
  </div>

  <div>
    <h3>type=&quot;time&quot;</h3>
    <input type="time" name="time">
  </div>

  <div>
    <h3>type=&quot;url&quot;</h3>
    <input type="url" name="url">
  </div>

  <div>
    <h3>type=&quot;week&quot;</h3>
    <input type="week" name="week">
  </div>