//- 

//- After creating the list of components containing markup examples
//- loop through them again so that we can render its patterns.
each component in componentsWithMarkup
  
  = '\n'
  h3
    = component.name.trim()
  = '\n'

  each pattern in component.patterns

    //- Only render a pattern containing a name and markup.
    if (pattern.name && pattern.markup)
      div.minicon-assets-div
        h6
          = pattern.name.trim()
        != '\n' + pattern.markup.trim()
      = '\n'

