      <footer id="footer" class="footer" role="contentinfo">
        <div class="wrap">
          <div class="site-info">
            <p>This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</p>
            <p>View source code on <a href="{{ site.repository.url }}"> Github </a>. Hosted on <a href="http://pages.github.com/">Github Pages</a>.</p>
            <!--<p>Made with <a href="https://github.com/cfpb/DOCter">DOCter</a> and </p>-->
          </div>
        </div>
      </footer>