<!--
    ===========
    GLOBAL META
    ===========
-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    ==================
    PAGE-SPECIFIC META
    ==================
-->

    <title>{% if page.title %}{{ page.title }} - {% endif %}CFPB Design Manual</title>
    <meta name="description" content="A set of design principles and standards for the Consumer Financial Protection Bureau.">

<!--
    ======
    STYLES
    ======
    The number of stylesheets here must be kept to a minimum.
    Unless adding a significant amount of CSS that is specific to a single page
    or section of the site, all new styles should be added to src/static/css/app.less.
-->

<!--[if lt IE 9]>      <link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.ie.min.css"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.min.css"> <!--<![endif]-->

<!--
    ============
    HEAD SCRIPTS
    ============
    The following scripts must be included in the head. DO NOT ADD ANY MORE.
    All other scripts should go before the closing body tag.
    If you come across a script that makes a convincing case to be included in
    the head, then file an issue or PR to discuss including it.
-->

<!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/static/vendor/html5shiv/html5shiv-printshiv.min.js"></script>
<![endif]-->

    <script>
        // Confirm availability of JS and remove no-js class from html
        var docElement = document.documentElement;
        docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>
