<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    ==================
    PAGE-SPECIFIC META
    ==================
-->

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<!--
    ======
    STYLES
    ======
-->

<!--[if lt IE 9]>      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor.ie8.min.css"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor.min.css"> <!--<![endif]-->

<!--[if lt IE 9]>      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/design-manual.ie8.min.css"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/design-manual.css"> <!--<![endif]-->

<!--
    ============
    HEAD SCRIPTS
    ============
-->

<!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/html5shiv-printshiv.js"></script>
<![endif]-->

<script>
    // Confirm availability of JS and remove no-js class from html
    var docElement = document.documentElement;
    docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
</script>