<div id="sidebar" class="sidebar" role="complementary">
  <aside>
    <a class="skip-link visually-hidden focusable" href="#content">Skip to Main Content</a>
    <nav role="navigation">
      <ul class="secondary-nav">
        {% for link in site.secondarynav %}
          {% if link.section == page.section %}
            {% if link.internal == true %}
              <li><a href="{{ site.baseurl }}/{{ link.url }}">{{ link.text }}</a></li>
            {% else %}
              <li><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </aside>
</div>