<div id="sidebar" class="sidebar" role="complementary">
  <aside>
    <nav role="navigation">
      <div class="secondary-nav">
        <ul>
          {% for link in site.secondarynav %}
            {% if link.category == page.category %}
              {% if link.internal == true %}
                <li{% if link.text == page.title %} class="secondary-nav-active"{% endif %}>
                    <a href="{{ site.baseurl }}/{{ link.url }}">{{ link.text }}</a>
                </li>
              {% else %}
                <li{% if link.text == page.title %} class="secondary-nav-active"{% endif %}>
                    <a href="{{ link.url }}">{{ link.text }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </aside>
</div>