/* ==========================================================================
   CFPB Design Manual
   Content
   ========================================================================== */

/* Mobile first means all content boxes are full width */

.content {
  margin-top: 0;
  padding: 2em 0;
  /* only here to keep footer sticky */
  overflow: auto;
  .column(12);

  .content-25,
  .content-75 {
    .column(12);
    padding-bottom: 1em;
    padding-top: 1em;
  }
}


/* Media Queries
   ========================================================================== */

/* Mobile portrait (320px) */
@media only screen and (min-width: 20em) {

}

/* Mobile landscape (480px) */
@media only screen and (min-width: 30em) {

}

/* Small tablet (600px) */
@media only screen and (min-width: 37.5em) {

  .content {
    .column(9);

    /* Inner content - nested grid inside content */
    .content-25 {
      .column(3);
    }

    .content-75 {
      .column(9);
    }
  }

}

/* Tablet/netbook (768px) */
@media only screen and (min-width: 48em) { 

}

/* Landscape tablet/netbook/laptop (1024px) */
@media only screen and (min-width: 64em) { 

}

/* Desktop (1280px) */ 
@media only screen and (min-width: 80em) { 

}

/* Widescreen (1600px) */
@media only screen and (min-width: 100em) { 

}