/* ==========================================================================
   CFPB Design Manual
   Footer
   ========================================================================== */

.footer {

  padding: 2em 0;
  border-top: 2px solid @gray-50;
  background: @gray-10;
  width: 100%;

  h4 {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5em;
    text-transform: uppercase;
  }

  p {
    font-size: 0.875em;
    line-height: 1.42857142857143;
    margin-left: .25em;
  }

  a,
  a:link,
  a:visited {
    border-bottom: 1px dotted;
  }

  a:hover {
    border-bottom: 1px dotted @pacific;
  }
  
  .footer-links ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }

  .footer-section {
    display: inline-block;
    vertical-align: top;
  }

  .footer-links {
    float:left;
    width: 25%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .footer-oss {
    box-sizing: border-box;
    width: 75%;
    float: right;
    padding: 0 15px;
  }

}

/* Media Queries
   ========================================================================== */

@media only screen and (min-width: 37.5em) {

  .footer {

    p {
      margin: .75em 0;
    }

    .footer-links ul, li {
      margin-left: 0;
    }
  }
} 

/* TABLET/NETBOOK 744px */
@media only screen and (min-width: 46.5em) {

} 
