/* ==========================================================================
   CFPB Design Manual
   Code Elements
   ========================================================================== */

pre {
  /* Allow line wrapping of 'pre' */
  padding: 1.375em 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre, code, kbd, samp {
  font-family: @monospace;
  margin-bottom: 1.375em;
}