

<h3>Navigation icons
</h3>

<div class="minicon-assets-div">
  <h6>left
  </h6>
<span class="cf-icon cf-icon-left"></span>
<span class="cf-icon cf-icon-left-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>right
  </h6>
<span class="cf-icon cf-icon-right"></span>
<span class="cf-icon cf-icon-right-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>up
  </h6>
<span class="cf-icon cf-icon-up"></span>
<span class="cf-icon cf-icon-up-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>down
  </h6>
<span class="cf-icon cf-icon-down"></span>
<span class="cf-icon cf-icon-down-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>arrow-left
  </h6>
<span class="cf-icon cf-icon-arrow-left"></span>
<span class="cf-icon cf-icon-arrow-left-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>arrow-right
  </h6>
<span class="cf-icon cf-icon-arrow-right"></span>
<span class="cf-icon cf-icon-arrow-right-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>arrow-up
  </h6>
<span class="cf-icon cf-icon-arrow-up"></span>
<span class="cf-icon cf-icon-arrow-up-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>arrow-down
  </h6>
<span class="cf-icon cf-icon-arrow-down"></span>
<span class="cf-icon cf-icon-arrow-down-round"></span>
</div>


<h3>Status icons
</h3>

<div class="minicon-assets-div">
  <h6>approved
  </h6>
<span class="cf-icon cf-icon-approved"></span>
<span class="cf-icon cf-icon-approved-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>error
  </h6>
<span class="cf-icon cf-icon-error"></span>
<span class="cf-icon cf-icon-error-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>help
  </h6>
<span class="cf-icon cf-icon-help"></span>
<span class="cf-icon cf-icon-help-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>delete
  </h6>
<span class="cf-icon cf-icon-delete"></span>
<span class="cf-icon cf-icon-delete-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>plus
  </h6>
<span class="cf-icon cf-icon-plus"></span>
<span class="cf-icon cf-icon-plus-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>minus
  </h6>
<span class="cf-icon cf-icon-minus"></span>
<span class="cf-icon cf-icon-minus-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>update
  </h6>
<span class="cf-icon cf-icon-update"></span>
<span class="cf-icon cf-icon-update-round"></span>
</div>


<h3>Social icons
</h3>

<div class="minicon-assets-div">
  <h6>youtube
  </h6>
<span class="cf-icon cf-icon-youtube"></span>
<span class="cf-icon cf-icon-youtube-square"></span>
</div>

<div class="minicon-assets-div">
  <h6>linkedin
  </h6>
<span class="cf-icon cf-icon-linkedin"></span>
<span class="cf-icon cf-icon-linkedin-square"></span>
</div>

<div class="minicon-assets-div">
  <h6>facebook
  </h6>
<span class="cf-icon cf-icon-facebook"></span>
<span class="cf-icon cf-icon-facebook-square"></span>
</div>

<div class="minicon-assets-div">
  <h6>flickr
  </h6>
<span class="cf-icon cf-icon-flickr"></span>
<span class="cf-icon cf-icon-flickr-square"></span>
</div>

<div class="minicon-assets-div">
  <h6>plus
  </h6>
<span class="cf-icon cf-icon-twitter"></span>
<span class="cf-icon cf-icon-twitter-square"></span>
</div>

<div class="minicon-assets-div">
  <h6>github
  </h6>
<span class="cf-icon cf-icon-github"></span>
<span class="cf-icon cf-icon-github-square"></span>
</div>

<div class="minicon-assets-div">
  <h6>email-social
  </h6>
<span class="cf-icon cf-icon-email-social"></span>
<span class="cf-icon cf-icon-email-social-square"></span>
</div>


<h3>Communication icons
</h3>

<div class="minicon-assets-div">
  <h6>web
  </h6>
<span class="cf-icon cf-icon-web"></span>
<span class="cf-icon cf-icon-web-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>email
  </h6>
<span class="cf-icon cf-icon-email"></span>
<span class="cf-icon cf-icon-email-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>mail
  </h6>
<span class="cf-icon cf-icon-mail"></span>
<span class="cf-icon cf-icon-mail-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>phone
  </h6>
<span class="cf-icon cf-icon-phone"></span>
<span class="cf-icon cf-icon-phone-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>technology
  </h6>
<span class="cf-icon cf-icon-technology"></span>
<span class="cf-icon cf-icon-technology-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>fax
  </h6>
<span class="cf-icon cf-icon-fax"></span>
<span class="cf-icon cf-icon-fax-round"></span>
</div>


<h3>Document icons
</h3>

<div class="minicon-assets-div">
  <h6>document
  </h6>
<span class="cf-icon cf-icon-document"></span>
<span class="cf-icon cf-icon-document-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>pdf
  </h6>
<span class="cf-icon cf-icon-pdf"></span>
<span class="cf-icon cf-icon-pdf-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>upload
  </h6>
<span class="cf-icon cf-icon-upload"></span>
<span class="cf-icon cf-icon-upload-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>copy
  </h6>
<span class="cf-icon cf-icon-copy"></span>
<span class="cf-icon cf-icon-copy-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>edit
  </h6>
<span class="cf-icon cf-icon-edit"></span>
<span class="cf-icon cf-icon-edit-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>attach
  </h6>
<span class="cf-icon cf-icon-attach"></span>
<span class="cf-icon cf-icon-attach-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>print
  </h6>
<span class="cf-icon cf-icon-print"></span>
<span class="cf-icon cf-icon-print-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>save
  </h6>
<span class="cf-icon cf-icon-save"></span>
<span class="cf-icon cf-icon-save-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>appendix
  </h6>
<span class="cf-icon cf-icon-appendix"></span>
<span class="cf-icon cf-icon-appendix-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>supplement
  </h6>
<span class="cf-icon cf-icon-supplement"></span>
<span class="cf-icon cf-icon-supplement-round"></span>
</div>


<h3>Financial product icons
</h3>

<div class="minicon-assets-div">
  <h6>bank-account
  </h6>
<span class="cf-icon cf-icon-bank-account"></span>
<span class="cf-icon cf-icon-bank-account-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>credit-card
  </h6>
<span class="cf-icon cf-icon-credit-card"></span>
<span class="cf-icon cf-icon-credit-card-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>loan
  </h6>
<span class="cf-icon cf-icon-loan"></span>
<span class="cf-icon cf-icon-loan-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>money-transfer
  </h6>
<span class="cf-icon cf-icon-money-transfer"></span>
<span class="cf-icon cf-icon-money-transfer-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>mortgage
  </h6>
<span class="cf-icon cf-icon-mortgage"></span>
<span class="cf-icon cf-icon-mortgage-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>debt-collection
  </h6>
<span class="cf-icon cf-icon-debt-collection"></span>
<span class="cf-icon cf-icon-debt-collection-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>credit-report
  </h6>
<span class="cf-icon cf-icon-credit-report"></span>
<span class="cf-icon cf-icon-credit-report-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>money
  </h6>
<span class="cf-icon cf-icon-money"></span>
<span class="cf-icon cf-icon-money-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>quick-cash
  </h6>
<span class="cf-icon cf-icon-quick-cash"></span>
<span class="cf-icon cf-icon-quick-cash-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>contract
  </h6>
<span class="cf-icon cf-icon-contract"></span>
<span class="cf-icon cf-icon-contract-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>comlaint
  </h6>
<span class="cf-icon cf-icon-complaint"></span>
<span class="cf-icon cf-icon-complaint-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>getting-credit-card
  </h6>
<span class="cf-icon cf-icon-getting-credit-card"></span>
<span class="cf-icon cf-icon-getting-credit-card-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>buying-car
  </h6>
<span class="cf-icon cf-icon-buying-car"></span>
<span class="cf-icon cf-icon-buying-car-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>paying-college
  </h6>
<span class="cf-icon cf-icon-paying-college"></span>
<span class="cf-icon cf-icon-paying-college-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>owning-home
  </h6>
<span class="cf-icon cf-icon-owning-home"></span>
<span class="cf-icon cf-icon-owning-home-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>debt
  </h6>
<span class="cf-icon cf-icon-debt"></span>
<span class="cf-icon cf-icon-debt-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>building-credit
  </h6>
<span class="cf-icon cf-icon-building-credit"></span>
<span class="cf-icon cf-icon-building-credit-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>prepaid-cards
  </h6>
<span class="cf-icon cf-icon-prepaid-cards"></span>
<span class="cf-icon cf-icon-prepaid-cards-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>payday-loan
  </h6>
<span class="cf-icon cf-icon-payday-loan"></span>
<span class="cf-icon cf-icon-payday-loan-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>retirement
  </h6>
<span class="cf-icon cf-icon-retirement"></span>
<span class="cf-icon cf-icon-retirement-round"></span>
</div>


<h3>Web icons
</h3>

<div class="minicon-assets-div">
  <h6>user
  </h6>
<span class="cf-icon cf-icon-user"></span>
<span class="cf-icon cf-icon-user-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>wifi
  </h6>
<span class="cf-icon cf-icon-wifi"></span>
<span class="cf-icon cf-icon-wifi-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>search
  </h6>
<span class="cf-icon cf-icon-search"></span>
<span class="cf-icon cf-icon-search-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>share
  </h6>
<span class="cf-icon cf-icon-share"></span>
<span class="cf-icon cf-icon-share-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>link
  </h6>
<span class="cf-icon cf-icon-link"></span>
<span class="cf-icon cf-icon-link-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>external-link
  </h6>
<span class="cf-icon cf-icon-external-link"></span>
<span class="cf-icon cf-icon-external-link-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>audio-mute
  </h6>
<span class="cf-icon cf-icon-audio-mute"></span>
<span class="cf-icon cf-icon-audio-mute-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>audio-low
  </h6>
<span class="cf-icon cf-icon-audio-low"></span>
<span class="cf-icon cf-icon-audio-low-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>audio-medium
  </h6>
<span class="cf-icon cf-icon-audio-medium"></span>
<span class="cf-icon cf-icon-audio-medium-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>audio-max
  </h6>
<span class="cf-icon cf-icon-audio-max"></span>
<span class="cf-icon cf-icon-audio-max-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>favorite
  </h6>
<span class="cf-icon cf-icon-favorite"></span>
<span class="cf-icon cf-icon-favorite-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>unfavorite
  </h6>
<span class="cf-icon cf-icon-unfavorite"></span>
<span class="cf-icon cf-icon-unfavorite-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>bookmark
  </h6>
<span class="cf-icon cf-icon-bookmark"></span>
<span class="cf-icon cf-icon-bookmark-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>unbookmark
  </h6>
<span class="cf-icon cf-icon-unbookmark"></span>
<span class="cf-icon cf-icon-unbookmark-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>settings
  </h6>
<span class="cf-icon cf-icon-settings"></span>
<span class="cf-icon cf-icon-settings-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>menu
  </h6>
<span class="cf-icon cf-icon-menu"></span>
<span class="cf-icon cf-icon-menu-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>lock
  </h6>
<span class="cf-icon cf-icon-lock"></span>
<span class="cf-icon cf-icon-lock-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>unlock
  </h6>
<span class="cf-icon cf-icon-unlock"></span>
<span class="cf-icon cf-icon-unlock-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>clock
  </h6>
<span class="cf-icon cf-icon-clock"></span>
<span class="cf-icon cf-icon-clock-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>chart
  </h6>
<span class="cf-icon cf-icon-chart"></span>
<span class="cf-icon cf-icon-chart-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>play
  </h6>
<span class="cf-icon cf-icon-play"></span>
<span class="cf-icon cf-icon-play-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>newspaper
  </h6>
<span class="cf-icon cf-icon-newspaper"></span>
<span class="cf-icon cf-icon-newspaper-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>microphone
  </h6>
<span class="cf-icon cf-icon-microphone"></span>
<span class="cf-icon cf-icon-microphone-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>bullhorn
  </h6>
<span class="cf-icon cf-icon-bullhorn"></span>
<span class="cf-icon cf-icon-bullhorn-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>double-quote
  </h6>
<span class="cf-icon cf-icon-double-quote"></span>
<span class="cf-icon cf-icon-double-quote-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>speech-bubble
  </h6>
<span class="cf-icon cf-icon-speech-bubble"></span>
<span class="cf-icon cf-icon-speech-bubble-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>information
  </h6>
<span class="cf-icon cf-icon-information"></span>
<span class="cf-icon cf-icon-information-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>lightbulb
  </h6>
<span class="cf-icon cf-icon-lightbulb"></span>
<span class="cf-icon cf-icon-lightbulb-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>dialogue
  </h6>
<span class="cf-icon cf-icon-dialogue"></span>
<span class="cf-icon cf-icon-dialogue-round"></span>
</div>

<div class="minicon-assets-div">
  <h6>date
  </h6>
<span class="cf-icon cf-icon-date"></span>
<span class="cf-icon cf-icon-date-round"></span>
</div>
