/* ==========================================================================
     CFPB Design Manual
     Header
     ========================================================================== */


.header {
    border-bottom: 4px solid @green;
    padding-top: 0.5em;
    width: 100%;

    .site-title {
        .grid_column(12);
        text-align: center;

        h1 {
            font-size: 1.5em;
        }
        .title-link {
            color: @gray-60;
            .site-org {
                color: @gray-80;
                font-weight: 500;
            }
        }
        .title-link:visited {
            color: @gray-60;
        }
    }

    .site-logo {
        display: none;
    }
}

/* Small tablet (600px) */
@media only screen and (min-width: 37.5em) {
    .header {

        padding: 2em 0 0;

        .site-title {
            .grid_column(6);
            text-align: left;

            h1 {
                font-size: 1.625em;
            }
        }

        .site-logo {
            .grid_column(6);
            text-align: right;
            margin-bottom: unit( 25px / @base-font-size-px, em );;

            .logo {
                display: inline;
            }
        }
    }
}

.skip-link {
    position: absolute;
    top: unit(-@grid_gutter-width / @base-font-size-px, em);
    left: unit(@grid_gutter-width / @base-font-size-px, em);
    background: transparent;
    transition: transform 1s ease, background .5s linear;
    z-index: 1;

    &:focus {
        .a-btn;

        padding: 11px 29px;
        font-size: unit( 18px / @base-font-size-px, em );

        position: absolute;
        top: 0;
        outline: 0;
        transition: transform .1s ease, background .2s linear;
    }
}
