/* ==========================================================================
   design-manual
   ========================================================================== */

// Import Capital Framework components.
@import (less) "cf-core.less";
@import (less) "cf-buttons.less";
@import (less) "cf-expandables.less";
@import (less) "cf-forms.less";
@import (less) "cf-grid.less";
@import (less) "cf-icons.less";
@import (less) "cf-layout.less";
@import (less) "cf-notifications.less";
@import (less) "cf-pagination.less";
@import (less) "cf-tables.less";
@import (less) "cf-typography.less";

// Icon font path
@cf-icon-path:                  '../fonts';

// Webfont variables
// This is the path for self-hosted fonts.
@cf-fonts-path: '/static/fonts';
// Whether or not to override the local path and retrieve fonts from fonts.net.
@use-font-cdn: true;

// Import site-specific Less files
@import (less) "header.less";
@import (less) "main-nav.less";
@import (less) "content.less";
@import (less) "sidebar.less";
@import (less) "footer.less";
@import (less) "pygments.less";

// Print stylesheet
@import (less) "print.less";


/* ==========================================================================
   CF Enhancements
   ========================================================================== */

pre {
  // Allow line wrapping of 'pre'
  padding: 1.375em 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre,
code,
kbd,
samp {
  font-family: Consolas, Menlo, Monaco, Courier, monospace;
  margin-bottom: 1.375em;
}

/* ==========================================================================
   Base styles
   ========================================================================== */

html, // html needed here for sticky footer
body {
    height: 100%;
    // Improve default text rendering, handling of kerning pairs and ligatures
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    // New CSS3 syntax supported by Chrome
    overflow-wrap: break-word;
}

blockquote {
  border-left: 0.25em solid @gray;
  color: @dark-gray;
  padding: 0.5em 1em 0.25em 1em;
}

table {
    width: 100%;
}
