

/* Mobile portrait (320px) */
@media only screen and (min-width: 20em) {

  .main-nav {
    /* The next two lines get rid of the annoying 40px left margin on unordered list in WebKit (-webkit-offset-start: 40px;): */
    margin: 0 0 0.5em;
    padding: 0;
    text-align: center;
  }
  .main-nav li {
    display: inline-block;
    margin: 0 1em 0.5em;
    font-size: 1.125em; /* 18px */
    font-weight: 500;
    list-style: none;
  }
  .main-nav a {
    display: block;
    padding: 0.125em 0;
    border-bottom: 4px solid @white;

    &:link,
    &:visited {
      color: @gray-80;
    }
    &:hover,
    &:focus {
      border-bottom: 4px solid @green-20;
      color: @dark-gray;
    }
    &:active {
      border-bottom: 4px solid @green-60;
      color: @black;
    }
  }
  .main-nav-active a {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      border-bottom: 4px solid @green-60;
      color: @black;
    }
  }

}

/* Small tablet (600px) */
@media only screen and (min-width: 37.5em) {
  .main-nav {
    .grid_column(12);
    margin-bottom: 0;
    text-align: left;
  }
  .main-nav li {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 2em;

    &:first-child {
      margin-left: 0;
    }
  }
  .main-nav a {
    padding-top: 0;
    padding-bottom: 1em;
    border-bottom: none;

    &:hover,
    &:active {
      margin-bottom: -4px;
    }
  }
  .main-nav-active a {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      margin-bottom: -4px;
    }
  }
}

/* Tablet/netbook (768px) */
@media only screen and (min-width: 48em) {
  .main-nav li {
    font-size: 1.125em; /* 18px */
  }
}
