/* ==========================================================================
   CFPB Design Manual
   Sidebar and Secondary Nav
   ========================================================================== */


.sidebar {
  .grid_column(12);
}

.secondary-nav {
  a {
    display: block;
    padding: 10px;
  }

  a,
  a:link,
  a:visited {
    border-bottom: none;
    color: @black;
  }

  a:hover,
  a:focus,
  .secondary-nav-active > a {
    border-left: 4px solid @green;
    margin-left: -4px;
    color: @black;
  }
  a:active {
    background-color: @gray-5;
    color: @black;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid @gray-40;
    font-size: 1.125em;
    padding-left: 4px;

    &:last-child {
      border-bottom: none;
    }
  }



}

/* Media Queries
   ========================================================================== */

/* Small tablet (600px) */
@media only screen and (min-width: 37.5em) {

  .sidebar {
    .grid_column(3);
    padding-bottom: 2em;
    padding-top: 2em;
  }

}
