

p, 
blockquote, 
q, 
pre, 
address, 
hr, 
code, 
samp, 
dl, 
ol, 
ul, 
form, 
table, 
fieldset, 
menu, 
img {

    margin:0;
    margin-bottom: 1.375em;
}

h1 {
    margin-top: .5em;
    margin-bottom: .5em;
    font: 400 2.125em/1.23529411764706 "Avenir Next", Arial, sans-serif;
    font-weight: normal;
}

h2 {
    margin: 0;
    margin-bottom: 1em;
    font: 400 1.625em/1.23076923076923 "Avenir Next", Arial, sans-serif;
    font-weight: normal;
}

h3 {
    margin: 2em 0 1em 0;
    font: 400 1.375em/1.27272727272727 "Avenir Next", Arial, sans-serif;
    font-weight: normal;
}

h3:first-child {
    margin-top: 0;
    margin-bottom: .75em;
}

h4 {
    margin: 0;
    margin-bottom: 1em;
    font: 500 1.125em/1.22222222222222 "Avenir Next Medium", Arial, sans-serif;
    font-weight: 500;
}

h5 {
    margin: 3em 0 1.25em 0;
    font: 600 0.875em/1.57142857142857 "Avenir Next Demi", Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h6 {
    margin: 0;
    margin-bottom: 1em;
    font: 600 0.75em/1.83333333333333 "Avenir Next Demi", Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p  {
    margin: .75em 0;
    font-size: 1em;
    line-height: 1.375em;
}

ul, blockquote, pre, td, th, label {
    margin: 0;
    font-size: 1em;
    line-height: 1.57142857142857em;
    margin-bottom: 1.375em;
}

ol {
    line-height: 1.57142857142857em;
}

small, p.small {
    margin: 0;
    margin-bottom: 1.7142857142857142857142857142857em;
    /* 12px / 24px */
    font-size: 0.75em;
    line-height: 1.7142857142857142857142857142857;
}

strong, b, dt {
    font-family: "Avenir Next Demi", Arial, sans-serif;
}

dfn {
    font-style: italic;
}

var, address {
    font-style: normal;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
     /* Positions 'sub' and 'sup' without affecting line-height */
     position: relative;
     vertical-align: baseline;
}

sup {
     /* Move superscripted text up */
    top: -0.5em;
}

sub {
    /* Move subscripted text down */
    bottom: -0.25em;
}


/* CODE */
pre, code {
    background-color: #f1f2f2;
    border: 1px solid #e3e4e5;
    border-radius: 0.250em;
    overflow-x: auto;
    padding: 0.125em 0.250em;
    white-space: nowrap;
}

pre, code, kbd, samp {
    font-size: .75em;
    line-height: 1.375;
    margin-bottom: 1.375em;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

pre {
    white-space: pre-wrap;
    margin-bottom: 1.5em;
}

/* LISTS */
ul, ol {
    padding: 0;
    list-style-position: outside;
    margin-left: 3%;
}

li ul, li ol {
    margin-left: 1.375em;
}

dl dd {
    margin-left: 1.375em;
}

dt {
    font-family: "Avenir Next Demi", Arial, sans-serif;
}

/* LINKS */
a {
    border-bottom: 1px dotted #0072CE;
    color: #0072CE;
    text-decoration: none;
}

a:visited {
    border-bottom: 1px solid #005E5D;
    color: #005E5D;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #7eb8dd;
    color: #7eb8dd;
    text-decoration: none;
}

a:focus {
    border-bottom: 1px solid #0072ce;
    outline: thin dotted;
    color: #0072ce;
    text-decoration: none;
}

a:active {
    border-bottom: 1px solid #002D72;
    color: #002D72;
    text-decoration: none;
}

a.call-to-action {
    font-family: "Avenir Next", Arial, sans-serif;
}

a.action-arrow {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-style: normal;
    font-size: 1em;
}

a.action-arrow .icon-right {
    position: relative;
}

a.action-arrow i {
    text-decoration: none;
}

/* FORMS */

form {
    margin: 0;
}

fieldset {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}


legend {
    *margin-left: -.75em;
}

button, input, select, textarea {
    vertical-align: baseline;
    /* IE7 and older */
    *vertical-align: middle;
}

button, input {
    line-height: normal;
    *overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"]{
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button:: -moz-focus-inner, input::-moz-focus-inner {
    border:0;
    padding:0;
}


/* QUOTES */

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

blockquote, q, cite {
}

blockquote {
    border-left: 4px solid #BABBBD;
    color: #75787b;
    padding-left: 1.5em;
}

blockquote > p {
    padding: 0;
}

/* MEDIA */

figure {
    margin: 0;
}

img {
    border: 0;
    float: right;
    /* improve IE's resizing of images */
    -ms-interpolation-mode: bicubic;
}

/* ABBREVIATION */
abbr[title],  dfn[title] {
    border-bottom: 1px dotted #333;
    cursor: help;
}


/* MARKED/INSERTED/DELETED AND SELECTED TEXT */
ins,  mark {
    text-decoration: none;
}
mark {
    background: #c47529;
}
ins {
    background: #d49855;
}
del {
    text-decoration: line-through;
}
