<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="body-wrapper">
      {% include header.html %}
        {{ content }}
      {% include footer.html %}
    </div>
    <script src="{{ site.baseurl }}/assets/js/vendor.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/capital-framework.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/design-manual.min.js"></script>
  </body>
</html>
