<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/design-manual.min.js"></script>
  </body>
</html>
