    <div id="default-expandable">
        <div>
			<div class="expandable">
    			<header class="expandable-header">
        			Expandable Header
					<a href="#" class="expandable-button">
            			<span class="expandable-text">Show</span> <i class="icon-plus-sign"></i>
        			</a>
    			</header>
    			<div class="expandable-content expandable-hidden" style="display: none;">
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
   				</div>
   			</div>
   		</div>
	</div>